.border-animation {
      position: relative;
      overflow: hidden;
    }
    
    .border-animation::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px; /* Border height */
      width: 0;
      background-color: white;
      transition: width 0.3s ease-in-out;
    }
    
    .border-animation:hover::before,
    .border-animation:focus::before {
      width: 100%;
    }

    @media (max-width: 767px) {
        /* CSS styles specific to mobile view */
        .navitem{
            display: none;
        }
      }


      .border-animation {
        position: relative;
        overflow: hidden;
    }
    
    .border-animation::before {
        content: "";
        position: absolute;
        bottom: 0;
        opacity: 0;
        left: 0;
        height: 4px; /* Border height */
        width: 0;
        background-color: white;
        transition: width 0.1s ease-in-out;
    }
    
    .border-animation:hover::before,
    .border-animation:focus::before {
        width: 100%;
    }
    
    /* Mobile menu styles */
    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        opacity: 1;
        width: 80%;
        height: 100%;
        background: rgb(108, 187, 251);
        color: rgb(255, 255, 255);
        transition: right 0.3s ease-in-out;
        z-index: 50;
        padding-top: 60px; /* Adjust based on your navbar height */
    }
    
    .mobile-menu.open {
        right: 0;
    }
   









    /*  */